.gli {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;

    &__container {
        padding: 0.3rem 0;
        border-bottom: 1px solid $grey-lighter;

        &:last-of-type {
            border-bottom: 0;
        }
    }

    &__name {
        font-size: $size-5;
        width: 8rem;
    }

    &__cross {
        color: $danger;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
    
        & svg {
            align-items: center;
            height: 1.5rem;
            width: 1.5rem;
            margin-left: 0.75rem;
        }
    }
}

.add-groups-field, .add-member-field {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 2rem;

    & > button {
        margin-left: 1rem;
    }
}

.ml {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: start;
    flex-wrap: wrap;
}

.mli {
    margin: 0.75rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__name {
        width: 8rem;
        margin: 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__avatar {
        width: 2rem;
    }

    &__cross {
        color: $danger;
        width: 1rem;
        height: 1rem;
    }
}